.card {
	height: '100%';
	margin-left: -1rem;
	margin-right: -1rem;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-bottom: 2rem;
	width: 'fit';
	flex-direction: column;
	border-radius: 1rem;
	color: whitesmoke;
	padding: 1.5rem;
	background: rgb(209, 58, 189);
	background: linear-gradient(313deg, rgba(209, 58, 189, 1) 53%, rgba(238, 189, 137, 1) 92%);
}

.header {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	color: #fff
}

.price {
	font-size: 3.75rem;
	line-height: 1;
	font-weight: 700;
	color: #fff
}

.desc {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	line-height: 1.625;
	color: rgb(255, 255, 255);
}

.lists {
	margin-bottom: 1.5rem;
	flex: 1 1 0%;
	color: rgb(255, 255, 255);
}

.lists .list {
	margin-bottom: 0.5rem;
	display: flex;
	margin-left: 0.5rem
}

.lists .list svg {
	height: 1.5rem;
	width: 1.5rem;
	flex-shrink: 0;
	margin-right: 0.5rem;
	color: rgba(167, 139, 250, 1);
}

.action {
	border: none;
	outline: none;
	display: inline-block;
	border-radius: 0.5rem;
	background-color: #0ea5e9;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	text-align: center;
	font-weight: 600;
	letter-spacing: 0.05em;
	color: #f8fafc;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: #0284c7;
	}
}